<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <title>FITNESS</title>
</head>
<body>
  <app-header></app-header>
  <app-home-section></app-home-section>
  <app-pricing></app-pricing>
  <app-team-section></app-team-section>
  <div id="paypal-button-container">

  </div>


  <script src="https://www.paypal.com/sdk/js?client-id=Ab8V5nQMmytfOUFb8GM2njDYTIV-tojPlsaLBSy-mZkQDkvfYMH4BWVeiMlcAw6xC5tkH1pQywEgb31X&currency=USD"></script>
  <script src="/Megatlon/src/assets/app.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=Ab8V5nQMmytfOUFb8GM2njDYTIV-tojPlsaLBSy-mZkQDkvfYMH4BWVeiMlcAw6xC5tkH1pQywEgb31X&components=buttons"></script>
</body>
</html>