<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>be strong, be fit</span>
                    <h3>Make yourself stronger than your excuses.</h3>
                    <a href="#" class="btn">get started</a>
                </div>
            </div>

        </div>
    </div>
</section>
<h1>About Us</h1>
<section class="about" id="about">

    <div class="row">

        <div class="content">
            <h3>Daily workout and stay active!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, 
                soluta quia aspernatur ipsum, amet mollitia molestiae recusandae 
                ab distinctio blanditiis rem corrupti assumenda nesciunt ratione, 
                provident harum quidem non excepturi?</p>
            <ul>
                <li> <i class="far fa-check-square"></i> how to support your immune system</li>
                <li> <i class="far fa-check-square"></i> a guide to 30 day fitness & workout challenges</li>
                <li> <i class="far fa-check-square"></i> guide to ease your back in the gym</li>
                <li> <i class="far fa-check-square"></i> the mental health benefits of exercises</li>
            </ul>    
        </div>

        <div class="image">
        </div>

    </div>

</section>




<h1>Choose a Plan</h1>
<app-pricing></app-pricing>
<h1>Our Expert Team</h1>
<app-team-section></app-team-section>

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Quick links</h3>
            <a class="links" href="#home">home</a>
            <a class="links" href="#about">about</a>
            <a class="links" href="#features">features</a>
            <a class="links" href="#pricing">pricing</a>
            <a class="links" href="#trainers">trainers</a>
        </div>

        <div class="box">
            <h3>Opening hours</h3>
            <p> monday : <i> 7:30am - 12:30pm </i> </p>
            <p> tuesday : <i> 9:00am - 16:30pm </i> </p>
            <p> wednesday : <i> 7:00am - 12:30pm </i> </p>
            <p> friday : <i> 8:00am - 13:00pm </i> </p>
            <p> saturday : <i> 8:00am - 11:30pm </i> </p>
            <p> sunday : <i> closed </i> </p>
        </div>

        <div class="box">
            <h3>Contact</h3>
            <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
            <p> <i class="fas fa-phone"></i> +111-222-3333 </p>
            <p> <i class="fas fa-envelope"></i> fitnessweb@gmail.com </p>
            <p> <i class="fas fa-map"></i> buenos aires, argentina</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-linkedin"></a>
                <a href="#" class="fab fa-pinterest"></a>
            </div>
        </div>
    </div>

</section>

