<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>be strong, be fit</span>
                    <h3>Make yourself stronger than your excuses.</h3>
                    <a href="#" class="btn">get started</a>
                </div>
            </div>

        </div>
    </div>
</section>
<h1>About Us</h1>
<section class="about" id="about">

    <div class="row">

        <div class="content">
            <h3>Daily workout and stay active!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, 
                soluta quia aspernatur ipsum, amet mollitia molestiae recusandae 
                ab distinctio blanditiis rem corrupti assumenda nesciunt ratione, 
                provident harum quidem non excepturi?</p>
            <ul>
                <li> <i class="far fa-check-square"></i> how to support your immune system</li>
                <li> <i class="far fa-check-square"></i> a guide to 30 day fitness & workout challenges</li>
                <li> <i class="far fa-check-square"></i> guide to ease your back in the gym</li>
                <li> <i class="far fa-check-square"></i> the mental health benefits of exercises</li>
            </ul>    
        </div>

        <div class="image">
        </div>

    </div>

</section>




<h1>Choose a Plan</h1>
<app-pricing></app-pricing>
<h1>Our Expert Team</h1>
<app-team-section></app-team-section>
