<div id="menu-btn" class="fa fa-ellipsis-h" (click)="toggleUserMenu()" [class.fa-times]="menuicon"></div>
<div class="profile-section" [class.is-active]="menuVar">

    <div class="user-icon" ></div>
    <h2>Emily</h2>
    <ul>
        <li (click)="showComponent('subscriptions')">Subscriptions</li>
        <li (click)="showComponent('routines')">Routines</li>
        <li (click)="showComponent('trainers')">Trainers</li>
        <li style="width: 25%;">Log out</li>
    </ul>
</div>
<div class="user-info">
    <h1>About</h1>
    <div class="info">
    </div>
</div>



<div class="sub-section">
    <div *ngComponentOutlet="childrenComponent">

    </div>
    <h1 *ngIf="childrenComponent ==='subscriptions'">Your Subscriptions</h1>
    <section class="pricing" id="pricing" *ngIf="childrenComponent ==='subscriptions'">

        <div class="plan basic" *ngIf="flag">
            <h3>{{sub.name}}</h3>
            <div class="price"><span>$</span>{{sub.price}}<span>/mo</span></div>
            <div class="paypal-button" *ngIf="!checkout">
                <h3>Checkout</h3>
                <ngx-paypal [config]="payPalConfig" class="checkout-button"></ngx-paypal>
            </div>

        </div>      
            
        <div class="plan basic" *ngIf="!flag">
            <h3>You have no subscriptions</h3>
            <a class="btn" routerLink="/home">get started</a>
        </div>
    </section>
</div>

