/* You can add global styles to this file, and also import other style files */
body{
    background: black;
    margin: 0;
}

*{
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 10px;
}

